#edit-progress-bar .item-list h3{
	display: none;
}

#edit-progress-bar .item-list > ul{
	float: right;
}

#edit-progress-bar .item-list > ul > li{
	display: inline-block;
}

#carenet-provider-active-form #edit-actions{
	float: right;
}

#carenet-provider-active-form #edit-actions #edit-next{
	margin-left: 20px;
}

#carenet-provider-active-form #edit-step #show-ask-question{
	margin-left: 20px;
}

#carenet-provider-active-form #edit-step{
	margin: 50px auto;
	clear: both;
}

#carenet-custom-provider-action{
	margin-bottom: 30px;
}

#carenet-custom-provider-action .form-item-method-contact{
	clear: both;
}

#carenet-custom-provider-action .cancel_button{
	margin-right: 20px;
}

#carenet-custom-provider-action #action-container{
	border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.page-back-office-manage #section-main-content > .container,
.page-providers #section-main-content > .container {
	 max-width:100%;
	 width:100%;
}

.page-back-office-manage #section-main-content .form-type-select select,
.page-providers #section-main-content .content select{
	  padding: 10px 9px;
}

.page-back-office-manage #section-main-content .views-exposed-form .views-exposed-widget .form-submit{
    margin-top: 29px;
    padding: 10px 16px;
}

#provider-node-form .form-wrapper{
    width: 49%;
    display: inline-block;
    vertical-align:top;
    margin-left: 1%;
}

#provider-node-form .form-wrapper:nth-child(2n+2){
	margin-left: 0;
	margin-right:1%;
}

#provider-node-form .form-wrapper input,
#provider-node-form .form-item input,
#provider-node-form .form-wrapper select{
	width: 100%;
}

#provider-node-form .form-wrapper select{
	padding:9px 16px;
}

#provider-node-form .field-type-datetime legend{
	display:none;
}

#provider-node-form .field-type-datetime .form-type-date-popup{
	margin-bottom: 0;
  margin-top: 4px;
}

#provider-node-form input.form-submit{
	width:auto;
}

#card-rate-node-form #field-card-rate-item-values{
	width:100%;
}

#card-rate-node-form  #field-card-rate-item-values td{
	padding:10px;
}

#card-rate-node-form #field-card-rate-item-values td .form-submit{
	margin-top:10px;
}

#card-rate-node-form .field-name-field-card-type{
	display:none;
}

#card-rate-node-form .form-wrapper select{
	padding:9px 16px;
}

#card-rate-node-form .filter-wrapper{
	display:none;
}