#edit-progress-bar .item-list h3{
	display: none;
}

#edit-progress-bar .item-list > ul{
	float: right;
}

#edit-progress-bar .item-list > ul > li{
	display: inline-block;
}

#carenet-provider-active-form #edit-actions{
	float: right;
}

#carenet-provider-active-form #edit-actions #edit-next{
	margin-left: 20px;
}

#carenet-provider-active-form #edit-step #show-ask-question{
	margin-left: 20px;
}

#carenet-provider-active-form #edit-step{
	margin: 50px auto;
	clear: both;
}

#carenet-custom-provider-action{
	margin-bottom: 30px;
}

#carenet-custom-provider-action .form-item-method-contact{
	clear: both;
}

#carenet-custom-provider-action .cancel_button{
	margin-right: 20px;
}

#carenet-custom-provider-action #action-container{
	border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.page-back-office-manage #section-main-content > .container,
.page-providers #section-main-content > .container {
	 max-width:100%;
	 width:100%;
}

.page-back-office-manage #section-main-content .form-type-select select,
.page-providers #section-main-content .content select{
	  padding: 10px 9px;
}

.page-back-office-manage #section-main-content .views-exposed-form .views-exposed-widget .form-submit{
    margin-top: 29px;
    padding: 10px 16px;
}